


.sideMenu {
  height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(4, 0, 59); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  
}

.sideMenu #routes {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 32px;
  width: 175px;
}

.sideMenu #login {
  margin-left: 32px;
  width: 175px; /* 0 width - change this with JavaScript */
  padding-bottom: 60px;
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}


.sideMenu h2{
  text-decoration: none;
  font-size: 25px;
  color: #969696;
  display: block;
  transition: 0.3s;
}
.sideMenu h2:hover {
  color: #ffff;
}

.sideMenu h3 {
  font-size: 20px;
  color: #969696;
  display: block;
  transition: 0.3s;
  margin: 0px;
  padding: 5px;
}
.sideMenu h3:hover {
  color: #ffff;
}

.sideMenu h4 {
  font-size: 20px;
  color: #969696;
  display: block;
  transition: 0.3s;
  margin: 0px;
  padding: 5px;
}

.sideMenu p {
  color: #969696;
}

#error {
  color: rgb(255, 44, 44);
}

#success {
  color: rgb(15, 182, 0);
}

.sideMenu label {
  font-size: 20px;
  color: white;
}



.sideMenu button {
  width: 100%;
  margin-bottom: 25px;
}



.App {
  height: 100%;
  width: 100%;
}

.main {
  margin-left: 250px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  align-content: center;
  
}

.main button {
  width: 100px;
  margin-bottom: 25px;
}

.ag-theme-alpine {
  padding-top: 20px;
}


.ag-header-cell-label {
  justify-content: center;
}



#history-graph {
  width: 100%;
  
}

Line {
  width: 50%;
}