


.sideMenu {
  height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  
}

.sideMenu #routes {
  padding-top: 60px;
  padding-left: 32px;
}

.sideMenu #login {
  padding-left: 32px;
  position: absolute;
  bottom: 60px;
  display: block;
  width: 175px;
}

.sideMenu h2{
  text-decoration: none;
  font-size: 25px;
  color: #969696;
  display: block;
  transition: 0.3s;
}
.sideMenu h2:hover {
  color: #ffff;
}

.sideMenu h3 {
  font-size: 20px;
  color: #969696;
  display: block;
  transition: 0.3s;
  margin: 0px;
  padding: 5px;
}
.sideMenu h3:hover {
  color: #ffff;
}

.sideMenu h4 {
  font-size: 20px;
  color: #969696;
  display: block;
  transition: 0.3s;
  margin: 0px;
  padding: 5px;
}

.sideMenu p {
  color: rgb(255, 119, 119);
}

.sideMenu label {
  text-decoration: none;
  font-size: 20px;
  color: #969696;
  display: block;
}


.sideMenu button {
  border: none;
  background-color: rgb(39, 39, 39);
  display: block;
  width: 100%;
  margin-top: 10px;
}

.App {
  height: 100%;
  width: 100%;
}

.main {
  margin-left: 250px;
  text-align: center;
}

.stock {
  text-align: left;
}

.stock ul li {
  width: 33%;
  display: inline-block;
}
